// Cols
$class-slug-col: col !default;
$numcolumns: 12;

// BreakPoints
$bk-xsmall: 575px;
$bk-small: 576px;
$bk-medium: 768px;
$bk-large: 992px;
$bk-xlarge: 1200px;

// Sizes
$full-w: 100%;
$separate: .3rem;