// Document root

:root {

  // Breakpoints
  --bk-medium: #{$bk-medium};
  
  // Sizes
  --columns: #{$numcolumns};
  --full-w: #{$full-w};
  --limit-w: #{$limit-w};
  --separate: #{$separate};

  // Colors
  --base-body: #{$color-base-body};
  --base-xlight: #{$color-base-xlight};
  --base-light: #{$color-base-light};
  --base-medium: #{$color-base-medium};
  --base-dark: #{$color-base-dark};
  --dark: #{$color-dark};
  --grey: #{$color-grey};
  --light: #{$color-light};

  // Fonts
  --font: #{$base-font};

}