.o-grid {

  &__container {
    display: flex;
    flex-direction: row;
    flex-flow: row nowrap;

    &:not(:last-of-type) {
      margin-bottom: var(--separate);
    }   
  }

  &__box {
    box-sizing: border-box;

    /*~ [class*="col-"]:not([class^="box-"]) {
      align-self: baseline;
    }*/
  }
}

[class*="col-"] {
  margin-right: var(--separate);
  &:not([class*="offset-"]) {
      margin-left: var(--separate);
  }
}

// Alinear cajas

.box {
  // Posiciones
  &-bottom  { align-self: flex-end; }
  &-middle  { align-self: center; }
  &-stretch { align-self: stretch; }
  &-top     { align-self: flex-start; }

  // Orden
  &-first   { order: -1; }
  &-last    { order: 1; }
}

// Alinear filas

.row {
  // Horizontal
  &-around  { justify-content: space-around; }
  &-between { justify-content: space-between; }
  &-center  { justify-content: center; }
  &-end     { justify-content: flex-end; }
  &-reverse { flex-direction: row-reverse; }
  &-start   { justify-content: flex-start; }
  
  // Vertical
  &-bottom  { align-items: flex-end; }
  &-middle  { align-items: center; }
  &-stretch { align-items: stretch; }
  &-top     { align-items: flex-start; }
}