// Create Grid System

@for $i from 1 through $numcolumns {
	  .#{$class-slug-col}-#{$i} {
		  	flex-basis: ( ($i / $numcolumns) * $full-w );
		  	//flex-basis: calc( (#{$i} / var(--columns)) * var(--full-w) );
	  }
}

@media (max-width: $bk-xsmall) {
	@for $i from 1 through $numcolumns {
		.#{$class-slug-col-xsmall}-#{$i} {
				flex-basis: ( ($i / $numcolumns) * $full-w );
		}
  	}	
}

@media (min-width: $bk-small) {
	@for $i from 1 through $numcolumns {
		.#{$class-slug-col-small}-#{$i} {
				flex-basis: ( ($i / $numcolumns) * $full-w );
		}
  	}	
}

@media (min-width: $bk-medium) {
	@for $i from 1 through $numcolumns {
		.#{$class-slug-col-medium}-#{$i} {
				flex-basis: ( ($i / $numcolumns) * $full-w );
		}
  	}	
}

@media (min-width: $bk-large) {
	@for $i from 1 through $numcolumns {
		.#{$class-slug-col-large}-#{$i} {
				flex-basis: ( ($i / $numcolumns) * $full-w );
		}
  	}	
}

@media (min-width: $bk-xlarge) {
	@for $i from 1 through $numcolumns {
		.#{$class-slug-col-xlarge}-#{$i} {
				flex-basis: ( ($i / $numcolumns) * $full-w );
		}
  	}	
}


// Create Offsets

$class-slug-ofs: offset !default;

@for $i from 1 through $numcolumns {
  .#{$class-slug-ofs}-#{$i} {
  	margin-left: ( ($i / $numcolumns) * $full-w );
  	//margin-left: calc( (#{$i} / var(--columns)) * var(--full-w) );
  }
}