// Create Grid System

@for $i from 1 through $numcolumns {
	  .#{$class-slug-col}-#{$i} {
		  	flex-basis: ( ($i / $numcolumns) * $full-w );
		  	//flex-basis: calc( (#{$i} / var(--columns)) * var(--full-w) );
	  }
}


// Create Offsets

$class-slug-ofs: offset !default;

@for $i from 1 through $numcolumns {
  .#{$class-slug-ofs}-#{$i} {
  	margin-left: ( ($i / $numcolumns) * $full-w );
  	//margin-left: calc( (#{$i} / var(--columns)) * var(--full-w) );
  }
}