.c-block {
  background-color: rgba(46, 204, 113,.25);
  padding: 8px;

  &__box {
	  background-color: rgba(46, 204, 113,1.0);
	  border-radius: 5px;
	  color: white;
	  font-size: 1rem;
	  font-weight: bold;
	  letter-spacing: .04rem;
	  padding: 4px;
	  text-align: center;
  }

  &--height {
  	height: 60px;
  }
}