.c-header { 
	margin: 1rem 0; 

	&__h2 {
		font-family: var(--font);
	    color: var(--grey);
		font-size: 1.6rem;
	    font-style: normal;
	    font-weight: 400;
		margin: 0;
	    text-shadow: white 1px 1px 1px;
	}
}