.c-table {
    width: 100%;
    margin-top: 1rem;
    border-collapse: collapse;
    border: 1px solid var(--base-light);
    background-color: var(--light);

    td {
        border-top: 1px solid var(--base-light);
    }

    td,
    th {
        padding: 20px 0;
    }

    th {
        line-height: 1.3rem;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        background-color: transparent;
        font-family: var(--font);
        color: var(--grey);
    }

    thead {
        background-color: var(--base-xlight);
    }

    strong {
        background-color: inherit;
        color: inherit;
        padding: 0;
    }

    mark {
        display: block;
        font-weight: bold;
        text-align: center;
        color: var(--base-medium);
    }
}