body {
    background-color: #f1f2f6;
    margin: 0;
}

code {
	font-size: .9rem;
    color: #2e2e2e;
}

h3 {
	color: #2bb867;
    font-weight: normal;
	font-family: var(--font);
}

pre {
    padding: 1.25rem;
    margin: 1rem 0 0;
    background: #fcfcfc;
    border-left: 4px solid rgba(46,204,113,0.25);
    white-space: pre-wrap;
}