body {
    background-color: var(--base-body);
    margin: 0;
}

code {
	font-size: .9rem;
    color: var(--dark);
}

h3 {
	color: var(--base-medium);
    font-weight: normal;
	font-family: var(--font);
}

pre {
    padding: 1.25rem;
    margin: 1rem 0 0;
    white-space: pre-wrap;
    background: var(--light);
    border-left: 4px solid var(--base-light);
}

strong {
    padding: 0 .3rem;
    background-color: var(--base-xlight);
    color: var(--base-medium);
}